/assets
/buildsUnity
/D1Sirim
/game_fifteen
/server_game_fifteen
/unity
/project_cmake/kmzi_labs
/rust
/python/src/lessons
/weather_angular

/libs

/projects_g++/src/2 kurs/KMZI/KMZI_SHNUR
/projects_g++/src/smf
/projects_g++/src/puzzles